.aviso-legal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 10% 20% 10%;
    gap: 64px;
    min-height: calc(100vh - 166px);
}


@media screen and (max-width: 768px) {
    .aviso-legal-container {
        gap: 32px;
        min-height: calc(100vh - 380px);
        padding-top: 16px;
    }
}