@use "../base/colors" as colors;

.registro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 196px);
    padding-block: 32px;
    gap: 32px;
    background-color: colors.$grey;

    h1 {
        font-size: 2.2rem;
        color: colors.$primary;
    }

    form {
        background-color: colors.$white;
        padding: 36px;
        box-shadow: 0 10px 30px colors.$primary-hover;
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        p {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin: 0;
        }

        label {
            font-weight: bold;
            color: colors.$primary;
        }

        input{
            padding: 12px 16px;
            border: 1px solid colors.$primary;
            font-size: 1rem;
            transition: all 0.3s ease;

            &:focus {
                border-color: colors.$primary;
                outline: none;
                box-shadow: 0 0 0 3px rgba(colors.$primary, 0.15);
            }
        }

        button {
            padding: 14px 24px;
            font-size: 1rem;
            background-color: colors.$primary;
            color: colors.$white;
            font-weight: bold;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: colors.$tertiary;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .registro-container {
        padding-block: 8px;
    }
}